<div class="container">
<%= simple_form_for @album, :html => { :multipart => true, :class: 'form-inline' } do |f| %>
<%= select_tag(:genre_id, options_for_select(@genres), :prompt => "Select a genre"), :class => 'm-3' %>
	<%= f.file_field :image %>
	<%= f.input :title, label: "Record Title" %>
	<%= f.input :description %>
	<%= f.input :artist %>
	<%= f.button :submit, :class => 'btn-custom2' %>
<% end %>
</div>
