<h1><%= params[:genre] %></h1>


<% if @albums.count == 0 %>
  <h1>There are no albums currently in this genre!</h1>
<% else %>	
  <div class="row container">
    <% @albums.each do |album| %>
      <div class="col-sm-3">
      <a href="/albums/<%= album.id %>" >
        <%= image_tag album.image.variant(resize_to_limit: [200, 200]), :class => "mb-3" %>
        <p><%= album.title %> by <%= album.artist %></p>
      </a>
    </div>
    <% end %>
  </div>
<% end %>    




