<div class="container-fluid">
  <div class="col">
    <%= image_tag @album.image.variant(resize_to_limit: [350, 350]) %>
  </div>

	<div class="col">
      <h2><%= @album.title %><span> by</span> <%= @album.artist %></h2>
      <h3 class="avg-rating">Average Rating</h3>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
		  <p><%= @album.description %></p>
    </div>
	</div>


</div>

<div class="reviews">

  
    <h3>Reviews</h3>
    <%= render @album.reviews %>

    <div>
      <%= link_to "Add Review", new_album_review_path(@album), class: "btn-custom" %>
    </div>

  </div>	



<div class="links btn-group">

	<%= link_to "Back", root_path, class: "btn btn-custom" %>

  <% if user_signed_in? %>

  <% if @album.user_id == current_user.id %>
  
    <%= link_to 'Edit', edit_album_path(@album) %> 
    <%= link_to 'Delete', album_path(@album), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
    
  <% end %>  
  
  <% end %>

  <script>
    $(document).ready(function() {
      $('.individual-review-rating').raty({
          readOnly: true,
          score: function() {
              return $(this).attr('data-score');
          },
          path: '/assets/'
      });
    });  
  </script>

  <script>
    $(document).ready(function() {
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
  });
    });
</script>

</div>	









