<!DOCTYPE html>
<html>
  <head>
    <title>The Record Bin</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %> 
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light site-header justify-content-between">
      <div class="navbar-header mr-5">
        <h1>
          <%= link_to "The Record Bin", root_path, class: "navbar-brand" %>
        </h1>
      </div>
                                                      
      <div class="ml-5 align-items-end">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown mr-5">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-expanded="false"
              >Genres<span class="caret"></span
            ></a>
            <ul class="dropdown-menu" role="menu">
              <% Genre.all.each do |genre| %>
              <li class="<%= 'active' if params[:genre] == genre.name %>">
                <%= link_to genre.name, albums_path(genre: genre.name), class:
                "link ml-2" %>
              </li>
              <% end %>
            </ul>
          </li>

          <% if user_signed_in? %>
          <li class="mr-5"><%= link_to "Add Album", new_album_path %></li>
          <li class="mr-5">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li class="mr-5"><%= link_to "Log In", new_user_session_path %></li>
          <li class="mr-5"><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %> <% if user_signed_in? %> <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
